<html>
    <head>
        <title>Dogs</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        <h3>All registered dogs</h3>
        <table class="table">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Breed</th>
                    <th></th>
                  </tr>
                </thead>
                <% dogs.forEach(function(dog){%>
                <tbody>
                  <tr>
                    <td><a href=/dogs/<%=dog.id%>><%=dog.name%></a></td>
                    <td><%=dog.breed%></td>
                    <td><form action="/destroy/<%= dog.id%>" method="post"><input type="submit" value="Delete" class="btn btn-default"></form></td>
                    <td><button class="btn btn-default"><a href="/update/<%= dog.id%>">Update</a></button></td>
                  </tr>
                </tbody>
                <%})%>
            </table>
        <a href="/new"><button class="btn btn-default">Register another dog</button></a>
    </body>
</html>